.button-left-drawer
  margin-left: 170px
.header-actions
  z-index: 100 !important
  width: 100% !important
  .header-buttons
    div
      display: inline
.bar
  z-index: 100 !important
  background-color: #2196f3 !important
  color: #fff !important
.buttons
  color: inherit !important;
.appBarShift
    z-index: 100 !important
    margin-left: 240px
    width: calc(100% - 240px) !important
.profile-logo
  color white
.header-logo
  height 45px
  img
    height 46px
    padding-left 20px
.drawerPaper
  div
    white-space: 'nowrap'
    width: 240px !important
.drawerPaperClose
  div
    z-index: 99 !important
    overflow-x: 'hidden'
    width: 75px
