div.row
  justify-content: space-around
div.field-name
  width: 23em
div.select-type
  width: 23em

.newFormContainer .MuiPaper-root-98 
  padding: 20px

 #novo-item
  margin: 20px 0
  max-width: 200px
