.row
  > .content
    width: 150vh
  margin-bottom: 5px
.publish-chips
  > .default-chips
    display: inline
    .chip
      margin-right: 5px
    .chip.publish
      color: white !important
      background-color: #00a813 !important
    .chip.unpublish
      color: white !important
      background-color: #0b0909e6 !important
.table-row
  width:70vw
  display: inline