.button-left-drawer{
    margin-left:170px
}
.header-actions{
    z-index:100!important;
    width:100%!important
}
.header-actions .header-buttons div{
    display:inline
}
.bar{
    z-index:100!important;
    background-color:#2196f3!important;
    color:#fff!important
}
.buttons{
    color:inherit!important
}
.appBarShift{
    z-index:100!important;
    margin-left:240px;
    width:calc(100% - 240px)!important
}
.profile-   {
    color:#fff
}
.drawerPaper div{
    white-space:nowrap;
}
.drawerPaperClose div{
    z-index:99!important;
    overflow-x:hidden;
    width:75px
}
.flex{
    display:flex
}
.flex.-v{
    flex-direction:column
}
.flex.-sb{
    justify-content:space-between
}
.flex.-e{
    justify-content:flex-end
}
.flex.-s{
    justify-content:flex-start
}
.flex.-c{
    justify-content:center
}
.flex.-sa{
    justify-content:space-around
}
.flex.-al-c{
    align-items:center
}
.flex.-al-s{
    align-items:flex-start
}
.flex.-al-e{
    align-items:flex-end
}
.flex.-wrap{
    flex-wrap:wrap
}
div.title{
    margin:211px
}
.category{
    margin-bottom:12px
}
.category-details{
    display:block!important
}
.table-row{
    display:inline
}
.table-row .row{
    margin-bottom:5px
}
.main .container{
    position:absolute;
    left:255px;
    top:80px;
    width:calc(100% - 265px)
}
.main .container-closed{
    position:absolute;
    left:110px;
    top:80px;
    width:calc(100% - 140px)
}

.snack-success > div {
  background-color: #43a047;
  font-size: 13pt;
}
.snack-fail > div {
  background-color: #ee4355;
  font-size: 13pt;
}
